.form__field {
  padding: 0 32px;
  margin-bottom: 12px;
}

.form__field__title {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  padding-bottom: 3px;
}

.form__field__input,
.form__field__textarea {
  width: 100%;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 12px;
}

.form__field__input {
  height: 40px;
}

.form__field__textarea {
  height: 168px;
  resize: none;
  padding-top: 6px;
}

.form__field__input:focus,
.form__field__textarea:focus {
  outline: none;
  border: 2px solid#1890FF;
}

.form__field__button {
  height: 40px;
  width: 320px;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #1890FF;
  color: white;
  cursor: pointer;
}

.form__tags__container {
  display: flex;
  align-items: flex-end;
}

.form__tagList {
  margin-left: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.form__tagItem {
  list-style-type: none;
  margin-top: 5px;
}

.form__tagInput {
  width: 300px;
}

.form__tagDelete__button {
  height: 40px;
  width: 118px;
  margin-left: 17px;
  background-color: #FFFFFF;
  color: #F5222D;
  border: 1px solid #F5222D;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.form__tagAdd__button {
  height: 40px;
  width: 118px;
  margin-left: 17px;
  background-color: #FFFFFF;
  color: #1890FF;
  border: 1px solid #1890FF;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.error__message {
  color: #F5222D;
}

.invalid {
  border: 1px solid #F5222D;
}


