
.header__link,
.sign__link,
.createArticle__link,
.profile__link,
.profile__link:hover {
  color: black;
  text-decoration: none;
}

.sign__link:hover,
.createArticle__link:hover,
.profile__link:hover
 {
  color: #52C41A;
}

.header__title,
.createArticle__title,
.header__sign {
  color: black;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 20px;
  margin-right: 20px;
}

.header__sign:hover,
.createArticle__title:hover{
  color: #52C41A;
  border: 1px solid #52C41A;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 9px 19px;
}

.profile__container {
  display: flex;
}

.profile__link {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  margin-right: 27px;
  margin-left: 7px;
}

.profileImg {
  margin-left: 13px;
  width: 46px;
  height: 46px;
  border-radius: 50%;
}